@use "global" as *;

.l-information {
  padding-top: rem(91);
  padding-bottom: rem(69);
  margin-top: rem(59);
  margin-bottom: 0;
  @include mq(md) {
    margin-top: rem(164);
    padding-top: rem(100);
    padding-bottom: rem(76);
  }
}