@use "global" as *;

.FAQ-item__question {
  position: relative;
  background-color: $blue;
  color: $white;
  font-size: rem(16);
  font-style: $base-font-family;
  padding-top: rem(16);
  padding-bottom: rem(16);
  padding-left: rem(16);

  @include mq(md) {
    font-size: rem(20);
    padding-top: rem(26);
    padding-bottom: rem(25);
    padding-left: rem(40);
  }
}

.FAQ-item__question ::before {
  content: "";
  position: absolute;
  background-image: url("../images/common/FAQ-parts.svg");
  top: 50%;
  right: rem(10);
  background-size: contain;
  object-fit: cover;
  background-repeat: no-repeat;
  width: rem(40);
  height: rem(2);

  @include mq(md) {
    position: absolute;
    right: rem(30);
  }
}

.FAQ-item__answer{
  border: 1px solid $blue;
  padding-top: rem(24);
  padding-right: rem(16);
  padding-bottom: rem(24);
  padding-left: rem(16);
  @include mq(md) {
    margin-top: rem(16);
    padding-top: rem(40);
    padding-right: rem(40);
    padding-bottom: rem(40);
    padding-left: rem(40);
  }
}