@use "global" as *;

.slide-button {
  display: flex;
  justify-content: center;
  grid-template-columns: 2;
}

.slide-button__prev {
  padding-top: rem(11);
  padding-bottom: rem(11);
  padding-left: rem(14);
  padding-right: rem(14);
  margin-right: rem(40);
  color: $blue;
  border: 1px solid $blue;
}

.slide-button__prev:hover {
  background-color: $blue;
  color: $white;
}

.slide-button__next {
  padding-top: rem(11);
  padding-bottom: rem(11);
  padding-left: rem(14);
  padding-right: rem(14);
  margin-left: rem(40);
  color: $blue;
  border: 1px solid $blue;
}

.slide-button__next:hover {
  background-color: $blue;
  color: $white;
}

.slide-button__numbers {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.slide-button__numbers li button {
  align-items: center;
  font-family: $third-font-family;
  font-size: rem(16);
  font-weight: $bold;
  border: 1px solid $blue;
  color: $blue;
  padding-top: rem(9);
  padding-bottom: rem(10);
  padding-left: rem(14);
  padding-right: rem(14);

}

.slide-button__numbers li button.active {
  color: $white;
  background-color: $blue;
}