@use "global" as *;
.slide-card {
  grid-template-columns: auto;
  grid-row: 1;
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);

  @include mq(md) {

  }
}
.slide-card a {
  flex-direction: column;
}

.slide-card__header img {
  aspect-ratio: 333 /223;
  object-fit: cover;
  @include mq(md) {
    width: 100%;
  }
}

.slide-card__icon {
  display: flex;
  color: $blue;
  border: rem(1) solid $blue;
  font-family: $base-font-family;
  text-align: start;
  width: fit-content;
  // margin-bottom: rem(4) ;
  padding: rem(4) rem(12);
  @include mq(md) {
    text-align: start;
    width: fit-content;
    padding: rem(9) rem(16);
    // padding: rem(6) rem(16);
  }
}

.slide-card__icon-title {
  display: inline-block;
  // padding: rem(4) rem(11.5);
  font-size: rem(12);

  line-height: 1.7;
  @include mq(md) {
    font-size: rem(12);
    // padding: 0 rem(16);
    line-height: 1;
  }
}
.slide-card__body {
  padding: rem(16) rem(16) rem(24);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  @include mq(md) {
    width: 100%;
    padding: rem(24) rem(16) rem(30);
  }
}

.slide-card__title-campaign {
  display: flex;
  text-align: start;
  border-bottom: rem(1) solid $blue;
  font-family: $base-font-family;
  font-size: rem(12);
  margin: 0;
  margin-top: rem(4);
  padding-bottom: rem(6);
  letter-spacing: -0.18em;
  @include mq(md) {
    font-size: rem(12);
    letter-spacing: -0.18em;
    margin-top: rem(4);
    padding-bottom: rem(8);
  }
}

.slide-card__text-campaign {
  text-align: center;
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(14);
  margin-top: rem(8);
  // margin-top: rem(10);
  @include mq(md) {
    margin-top: auto;
    // margin-top: rem(14);
    margin-right: rem(14);
    font-size: rem(16);
  }
}

.slide-card__prices {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: rem(16);
  margin-top: rem(8);
  align-items: baseline;
  font-family: $third-font-family;
  @include mq(md) {
    gap: rem(24);
  }
}
.slide-card__price {
  font-family: $third-font-family;
  font-weight: $bold;
  text-decoration: line-through red rem(3);
  // margin-top: rem(6);
  font-size: rem(20);
  line-height: 2;
  @include mq(md) {
    font-family: $third-font-family;
    font-size: rem(24);
    // margin-top: rem(8);
    line-height: 1.8;
  }
}

.slide-card__discount {
  color: $blue;
  font-weight: $bold;
  font-family: $third-font-family;
  font-size: rem(32);
  line-height: 1;
  // padding: rem(10) 0 0 rem(6);
  @include mq(md) {
    font-family: $third-font-family;
    font-size: rem(40);
    line-height: 1;
  }
}
.slide-card__text-about{
  margin-top: rem(24);
  display: none;
  font-family: $base-font-family;
  line-height: 1;
  @include mq(md) {
    display: block;
    font-size: rem(16);
    line-height: 1.2em;
  }
}

.slide-card__date{
  display: none;
text-align: center;
font-family: $third-font-family;
color: $blue;
font-size: rem(16);
@include mq(md) {
  display: block;
  margin-top: rem(32);
  }
}
.slide-card__contact{
  font-size: rem(14);
  color: $blue;
  text-align: center;
}

.slide-card__button{
  display:none;
  @include mq(md) {
    text-align: center;
    position: relative;
    margin-top: rem(16);
    display: flex;
    justify-content: center;
    }
}

