@use "global" as *;

.voice-cards {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    display: grid;
    gap: rem(80) rem(40);
    grid-template-columns: repeat(2, 1fr);
    flex-direction: initial;
    justify-content: center;
  }
}
.voice-cards__item{
  display: grid;
  flex-direction: column;
  @include mq(md) {
    display: grid;
    flex-direction: initial;
    justify-content: center;
  }
}

.voice-cards a:hover {
  opacity: 0.5;
}